.container {
    display: flex;
    flex-direction: column;
}

.options-container {
    display: flex;
}

.container .title {
    font-size: 36px;
    font-weight: bold;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.grid-container div {
    border: 1px solid black;
    height: 23px;
    width: 23px;
    margin: 0;
}

.grid-container div.hovered {
    background-color: rebeccapurple;
}